body {
  background-image: url(./img/anhNen.jbg.webp);
  background-repeat: no-repeat; /* ko lặp lại hình nền*/
  background-attachment: fixed; /* che phủ toàn bộ trang*/
  background-size: 100% 100%; /*che phủ đều 100%*/
}
h1 {
  color: brown;
  text-align: left;
  text-transform: capitalize;
  /* Opacity hiển thị đậm nhạt*/
  opacity: 50%;
}
.value1 {
  color: aqua;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  /*  display xóa bock và ko thể tác động */
  display: none;
}
.value2 {
  color: rgb(69, 92, 47);
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  text-transform: none;
  text-align: left;
  /* visibility nhưng vẫn để lại vùng nhớ */
  visibility: hidden;
}
