* {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-right: 40px;
}
#line1 {
  color: aqua;
}
.line2 {
  color: coral;
  font-size: 20px;
}
.line3 {
  text-align: right;
}
