li {
  margin-top: 4px;
  list-style-type: none;
  margin: 0 auto;
  float: left;
}
.fa-brands,
.fa-solid {
  color: rgb(243, 143, 225);
  margin-right: 5px;
  margin-left: 15px;
}
.fa-facebook {
  color: blue;
}
