:root {
  font-size: 1.6rem;
}
.content {
  /*  các thuộc tính đang tuân theo dạng flex ( dàn theo hàng ngang) */
  display: inline-flex;
  display: flex;
  background-color: aqua;
  /* căn cột vào giữa */
  align-items: center;
  /* căn cột vào phía bottom */
  align-items: self-end;
  /* căn cột vào phía top */
  align-items: self-start;
  /*  căn theo đường chân text */
  align-items: baseline;
}
.box {
  color: #fff;
  padding: 20px;
}
.box1:hover {
  color: red;
}
.box1:active {
  color: rgb(120, 12, 147);
}
.box1 {
  height: 300px;
  background-color: #bb0b0b;
}
.box2 {
  /* height: 300px; */
  background-color: #bb0b0b;
}
.box3 {
  /* height: 300px; */
  background-color: #bb0b0b;
}
